body{
  background-color:#F0E68C ;
  font-family:"Times New Roman";
}
h1{
  color:#DAA520;
  font-family:"cooper black";
  font-size:50px;  
}
p{
  color:#778899;
  font-family:"Times New Roman";
  font-style:Italic;
  font-size:18px; 
}
.footer {
  width:450px;
  text-align:center;
  margin:15px auto 30px auto;
  display:block;
  font-size:13px;
  color:#fff;
  a {
    font-weight:500;
    text-decoration:none;
    color:#fff;
  }
}
.quotes{
  width:70%;
  margin-right:auto;
  margin-left:auto;
  border-color:#FFA500;
  border-style:solid;
  border-radius:20px;
  margin-top:25px;
  padding:0px;
  height:auto;
  color:black; 
}
.quotes{
  font-size:25px;
  margin-top:30px;
  padding:0px;
}

.author {
  font-size:20px;
}

 .smaller-image {
    width: 300px;
   border-radius:20px;